<h3 class="text-info" style="margin-top:30px;"><i class="fa fa-user"></i> PERSONAL DETAILS</h3>
<div class="card">
  <div class="card-body">
    <i class="fa far fa-save pull-right action-pointer" style="font-size: 1.8em; " *ngIf="edit_input" (click)="editDetails()"></i>
    <i class="fa fa-edit pull-right action-pointer" style="font-size: 1.8em;" *ngIf="!edit_input" (click)="editDetails()"></i>
    <img src="{{ service.resume.image }}" class="img-fluid rounded" style="max-height: 60px;">
    <strong style="margin-left: 15px;" *ngIf="!edit_input">
      {{ service.resume.first_name }} {{ service.resume.last_name }}
    </strong>
    <ng-container *ngIf="edit_input">
      <input type="text" name="first_name" [(ngModel)]="service.resume.first_name" style="margin-left: 15px;">
      <input type="text" name="last_name" [(ngModel)]="service.resume.last_name" style="margin-left: 15px;">
    </ng-container>
    <hr>
    <div class="row">
      <div class="col-4">
        <span class="text-muted">PHONE</span><br>
        <span *ngIf="!edit_input">{{ service.resume.details.phone }}</span>
        <input type="tel" name="fone" class="form-control" [(ngModel)]="service.resume.details.phone" *ngIf="edit_input">
      </div>
      <div class="col-4">
        <span class="text-muted">E-MAIL</span><br>
        <span *ngIf="!edit_input">{{ service.resume.details.email }}</span>
        <input type="email" name="email" class="form-control" [(ngModel)]="service.resume.details.email" *ngIf="edit_input">
      </div>
    </div>
  </div>
</div>
