<h3 class="text-info" style="margin-top:30px;"><i class="fa fas fa-globe"></i> LANGUAGES</h3>
<div class="card" *ngFor="let lan of service.resume.languages" style="margin-bottom: 8px;">
  <div style="margin-left: 25px;">
    <p style="margin-top: 15px;">
      <strong>{{ lan.language }}</strong><br>
      <span class="text-muted">
        {{ lan.level }}
      </span>
    </p>
  </div>
</div>
<button type="button" class="btn btn-outline-secondary btn-block" (click)="showForm()" *ngIf="!show_form">
  <i class="fa fas fa-plus-circle"></i>&nbsp; Add new
</button>
<div class="card" *ngIf="show_form">
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="col">
          <label>Language:</label>
          <input type="text" name="language" class="form-control" [(ngModel)]="language.language">
        </div>
        <div class="col">
          <label>Level:</label>
          <select name="level_language" class="form-control" [(ngModel)]="language.level">
            <option value="0">Select level</option>
            <option value="20%">Working knowledge</option>
            <option value="40%">Good working knowledge</option>
            <option value="60%">Very good command</option>
            <option value="80%">Highly proficient in speaking and writing</option>
            <option value="100%">Native speaker</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button class="btn btn-success" (click)="insertLanguage()">Save</button>
  </div>
</div>